* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../fonts/Open_Sans/static/OpenSans-Regular.ttf')
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('../fonts/Roboto/Roboto-Regular.ttf')
}

body {
  font-family: 'Roboto', sans-serif;
  background-color:#0f0f0f;
  margin: 0 auto;
  max-width: 100%;
}

/******************Navegador************************************/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 2em;
  height: auto;
  width: 100%;
}


.navegador {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: auto;
}


.menuList {
  display: flex;
  justify-content: space-between ;
  align-items: center;
  list-style-type: none;
  width: 100%;
  
  
}


.menuList li a,
.menuList a:hover {
  text-decoration: none;
  color: white;
 margin: 1em;
}


.imgLolgo {
  height: auto;
  width: 16em;


}

.icomenuh{
  width: 2em; 
  height: 2em;
  filter: invert();
}


.iconosH {
  width: 10%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 0.5em;

  
}

.btnMenu{
  background-color: transparent;
  display: none;
  border: none;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 250,
    'GRAD' 0,
    'opsz' 24;
  color: white;
}

select{
  background-color: #0f0f0f;
  color: white;
  border: none;
}
/********Footer*****************/

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  color: white;
  height: auto;


}

.piePagina {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3em;
  width: 60%;
}

.piePagina li {
  list-style: none;
}

.piePagina a,
.piePagina a:visited {
  color: white;
  text-decoration: none;
}

.socialMedia {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 4em;

}

.socialMedia img {
  filter: invert();
  width: 30px;
  height: 30px;
}






/**********MENU Responsive************************/

@media screen and (max-width: 1080px) {

 header{
  width: 100%;
  height: max-content;
 
 } 
 .navegador{
  width: 100%;
  height:max-content;
  pointer-events: auto;
  overflow: hidden;
  transition: all .5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  

 }
 .activo{
  height: 0;
  pointer-events: none;
 }

 .btnMenu{
  display: block;
  cursor: pointer;
 }


 .menuList{
    flex-direction: column;
 }
 .menuList li{
    margin: 0.5em 0;
 }

.imgLolgo{
  margin-left:  -2em;
  margin-top: -2em;
  width: 14em;
  height: auto;
}


}

@media screen and (max-width: 430px) {
  .imgLolgo{

    margin-top: -2em;
    width: 12em;
    height: auto;
  }
  .iconosH{
    margin-left: 1.75em;
  }

  .piePagina{
    font-size:0.50em;
  }
.socialMedia img{
  width: 1.5em;
  height: 1.5em;
}

.menuList{
  font-size: 0.85em;
}


}