main {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
}

.imgPantalla {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: max-content;
  width: 100%;

}

.imgPantalla img {
  height: 90vh;
  width: 600px;
}


/***************secciones************************/

.historia{
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
 height: max-content;
}

.panel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
 height: auto;
}

.videos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
 height: auto;
}
.vpanel{
  margin-top: 2em;
  margin-bottom: 2em;
  width: 90%;
  height:400px;
  object-fit: cover; /* o "contain"  */
  justify-self: center;
}

.imgs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
 height: auto;
}

.imgPanel{
  margin-top: 2em;
  margin-bottom: 2em;
  width: 90%;
  height:400px;
  object-fit: cover; /* o "contain"  */
  justify-self: center;
  
}

.txthistoria{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: max-content;
}

.txthistoria p {
  line-height: 2em;
  text-align: center;
  font-style: italic;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 20px;
}
.poculto, .pocultoB{
  display: none;
  max-height: max-content;
}

.txthistoria h2{
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
}

.btnmostrar{
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  width: 30%;
  font-size: 20px;
  color:white;
  background-color: black;
  border: solid 2px black;
  cursor: pointer;
 
}
/********************Responsive******************/

@media screen and (max-width: 1080px) {

  .imgPantalla img {
    height: 60vh;
    width: 300px;
  }
  
  .panel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  

} 


@media screen and (max-width: 800px) {

  .imgPantalla img {
    height: 60vh;
    width: 300px;
  }
  
  .panel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  

} 

@media screen and (max-width: 600px) {


  .imgPantalla img {
    height:60vh;
    width: 25em;
  }
  
  .imgPanel{
    height: 10em;
    width: auto;
  }

  .txthistoria h2 {
    font-size: 1em; 
    text-align: center;
  }

   .txthistoria p{
    font-size: 0.65em;

   } 
  .btnmostrar {
    font-size: 10px;
  }


@media screen and (max-width: 500px) {

  .imgPantalla img {
    height:60vh;
    width: 25em;
  }
  
  .imgPanel{
    height: 10em;
    width: auto;
  }

  .txthistoria h2 {
    font-size: 1em; 
    text-align: center;
  }

   .txthistoria p{
    font-size: 0.65em;

   } 
  .btnmostrar {
    font-size: 10px;
  }

} 


}